<div class="row">
    <div class="col-md-12" *ngIf="newsItems && newsItems.length > 0">
        <div class="card mt-2 mb-2" *ngFor="let newsItem of newsItems">
            <img [src]="newsItem.urlToImage" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{newsItem.title}}</h5>
              <p class="card-text">
              <b>{{newsItem.author}}</b>
              <br>
              {{newsItem.description}}
              </p>
              
              <a href="#" class="btn btn-primary">More....</a>
            </div>
          </div>
    </div>
</div>
